
@{
    ViewBag.Title = "Index";
    const int ACTIVATE = 1;
    const int DEACTIVATE = 0;
}
@model List<BanVaLi.Models.tDanhMucSP>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
@*<div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Primary Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Warning Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Success Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Danger Card</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>*@
<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Giá</th>
                        <th>Loại</th>
                        <th>Trạng Thái</th>
                        <th>
                            Action <br />

                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Giá</th>
                        <th>Loại</th>
                        <th>Trạng Thái</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaSP</td>
                                <td>@item.TenSP</td>
                                <td>@item.Gia</td>
                                <td>@item.MaLoai</td>
                                @if (item.Status == true)
                                {
                                    <td class="text-center"><button onclick="EditStatus('@ACTIVATE', '@item.MaSP')" class="badge badge-success">Active</button></td>
                                }
                                else
                                {
                                    <td class="text-center"><button onclick="EditStatus('@DEACTIVATE', '@item.MaSP')" class="badge badge-danger">Deactive</button></td>
                                }
                                <td>
                                    <button id="edit" onclick="Edit('@item.MaSP.Trim()')" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-danger delete" onclick="Delete('@item.MaSP.Trim()')"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

    });

    function Edit(maSp) {
        var url = '@Url.Action("PartialViewModal", "DanhMucSpAdmin")/?MaSP=' + maSp;
        $.get(url,
            function(data) {
                $('.container').html(data);
                $('#myModal').modal({ backdrop: 'static', keyboard: false });
            });
    }

    function EditStatus(status, maSp) {
        var x = {
            "Status": status,
            "MaSP" : maSp
        }
        $.confirm({
            content: "Are you sure change status?",
            title: "Confirm",
            buttons: {
                confirm: {
                    text: "Xác Nhận",
                    action: function () {
                        $.ajax({
                            type: "GET",
                            dataType: "json",
                            data: x,
                            url: "@Url.Action("EditStatus", "DanhMucSpAdmin")",
                            success: function (result) {
                                var table = $('#myModal').DataTable();
                                alert(result.ErrorMessage);
                                location.reload();
                            },
                            error: function() {

                            }
                    });
                    }
                },
                cancel: {
                    text: "Cancel",
                    action: function() {

                    }
    }
            }
        });
    }
    function Delete(maSp) {
        var x = {
            "MaSP": maSp
        }
        $.confirm({
            text: "Are you sure you want to delete that comment?",
            title: "Confirmation required",
            buttons: {
                confirm: {
                    text: "Xác Nhận",
                    action: function() {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("ConfirmDelete", "DanhMucSpAdmin")',
                            data: x,
                            dataType: "json",
                            success: function(result) {
                                alert(result.ErrorMessage);
                                location.reload();
                            },
                            error: function() {

                            }
                        });
                    }
                },
                cancel: {
                    text: "Hủy Bỏ",
                    action: function() {

                    }
                }
            }
        });
    }
</script>
